.labels{

	font-size: 30px;
	color: red;
	margin-left: 15px;
}
.inputs{

	font-size: 30px;
	margin-left: 20px;
	background-color: gray;
	color: blue;
}
.background{

	background-color: #303030;	
}

.botones{
	font-size: 20px;
	margin-left: 20px;
	background-color: green;
	color: #ffff00;


}

.botonAgregar{
	font-size: 20px;
	margin-left: 20px;
	background-color: green;
	color: #ffffff;


}

.botonBorrar{
	font-size: 20px;
	margin-left: 20px;
	background-color: red;
	color: #ffffff;


}

.select{
	font-size: 30px;
	margin-left: 20px;
	background-color: gray;
	color:#ffffff;
}

.tabla{

	font-size: 25px;
	margin-left: 20px;
	border-color: white;
	background-color: gray;
	color: #ffffff;
}

.tablatitle{

	font-size: 30px;
	border-color: white;
	margin-left: 20px;
	background-color: #b7b7b7;
	color: #000000;
}
.tablechars{

	padding-left: 25px;
	padding-right: 25px;
}